.round_info .image img{
    border-radius: 100%;
    width: 450px;
    height: 450px;
}

.round_info {
    display: flex;
	flex-wrap: wrap;
	width: 80%;
	justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
	margin: auto;
	z-index: 0;
    flex-direction: row;
}

.round_info .image,
.round_info .text
{
    width: 50%;
    max-width: 50%;
    text-align: center;
}
